<meta charset="UTF-8">
<!DOCTYPE html>

<html>
    <head>
        <title>Projects - Phenotyping Sensor Network</title>
        <meta name="viewport" content="width=450px">

        <link href="{{ assets }}/css/reset.css" rel="stylesheet">
        <link href="{{ assets }}/css/globals.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Istok+Web:400,400i,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
        <script src="{{ assets }}/js/helpers.js"></script>

        <link href="{{ assets }}/css/header.css" rel="stylesheet">
        <script src="{{ assets }}/js/header.js"></script>
        <link href="{{ assets }}/css/grouping.css" rel="stylesheet">
        <link href="{{ assets }}/css/modal.css" rel="stylesheet">
        <link href="{{ assets }}/css/pages/projects.css" rel="stylesheet">
        <script src="{{ assets }}/js/pages/projects.js"></script>
    </head>

    <body>
        {% include "partials/header.twig" with { "loggedIn": true } %}

        <main>
            <div class="titled-group">
                <div class="titled-group__header">
                    <h2 class="titled-group__title">Active Projects</h2>
                    <button class="titled-group__action" id="new-project-btn">New Project</button>
                    <div class="titled-group__separator"></div>
                </div>

                <div class="items-block">
                    {% for project in activeProjects %}
                        <div class="items-block__item">
                            <a class="item__anchor"
                                href="{{ url_for("project", {"projectId": project.projectId }) }}">

                                <p class="item__title">{{ project.name }}</p>
                                <p class="item__sub-title">{{ project.dateRange }}</p>
                                <p class="item__corner">{{ project.nodeCount }}</p>
                            </a>
                        </div>
                    {% endfor %}

                    {% if activeProjects|length == 0 %}
                        {% include "partials/noDataStatus.twig" %}
                    {% endif %}
                </div>
            </div>
        
            <div class="titled-group">
                <div class="titled-group__header">
                    <h2 class="titled-group__title">Completed Projects</h2>
                    <div class="titled-group__separator"></div>
                </div>

                <div class="items-block">
                    {% for project in inactiveProjects %}
                        <div class="items-block__item">
                            <a class="item__anchor"
                                href="{{ url_for("project", {"projectId": project.projectId }) }}">

                                <p class="item__title">{{ project.name }}</p>
                                <p class="item__sub-title">{{ project.dateRange }}</p>
                                <p class="item__corner">{{ project.nodeCount }}</p>
                            </a>
                        </div>
                    {% endfor %}

                    {% if inactiveProjects|length == 0 %}
                        {% include "partials/noDataStatus.twig" %}
                    {% endif %}
                </div>
            </div>
        </main>


        <div class="modal__shade modal__shade--hidden" id="modal-shade"></div>
        
        <!-- New project modal -->
        <div class="modal modal--hidden" id="newproj-modal">
            <div class="modal__header">
                <p class="modal__title">Create a New Project</p>
            </div>

            <div class="modal__content">
                <form id="m-newproj-form">
                    <p class="modal__field-title">Name</p>
                    <input class="m-newproj-name" id="m-newproj-name" type="text" maxlength="128"/>

                    <p class="modal__field-title">Description</p>
                    <textarea class="m-newproj-desc" id="m-newproj-desc" maxlength="255"></textarea>
                </form>
            </div>

            <div class="modal__footer">
                <p class="modal__status" id="m-newproj-status"></p>

                <div class="modal__buttons">
                    <button class="modal__submit" id="m-newproj-submit" form="m-newproj-form">Create</button>
                    <button class="modal__cancel" id="m-newproj-cancel">Cancel</button>
                </div>
            </div>
        </div>
    </body>
</html>